.orderSummary {
	.title {
		font-size: 1.5rem;
		margin: 10px 0 25px;
	}

	p {
		margin: 5px 0;
	}

	.total {
		font-size: 1.1rem;
		text-align: left;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 15px 15px 0;

		li {
			border-bottom: 1px solid var(--lightGray);
			display: flex;
			font-size: 0.8rem;
			justify-content: space-between;
			margin-bottom: 20px;
			width: 45%;

			P:first-child {
				margin: 5px 0 0 15px;
			}
		}
	}

	.btnWrapper {
		justify-content: center;
	}
}
