.form {
	background-color: white;
	box-sizing: border-box;
	color: var(--darkGray);
	display: flex;
	flex-direction: column;
	margin: 40px auto 0;
	padding: 20px 50px;
	width: 58%;

	.title {
		//color: white;
		//background-color: var(--green);
		font-size: 1.5rem;
		margin-bottom: 15px;
		padding: 5px 0;
	}
}
