.heroWrapper {
    background-size: cover;
    height: 350px;
}

.hero {
    height: 350px;
    margin: 0 auto;
    position: relative;
    width: 90%;

    
    .heroBox {
        left: 0;
        line-height: 50px;
        margin: 0;
        max-width: 35%;
        padding: 0;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        -webkit-transform: translateY(-50%);
    }

    h1 {
        color: #15284b;
        font-size: 3em;
        font-weight: bold;
    }

    .cpa {
        background-color: #7a9c49;
        border-radius: 4px;
        color: white;
        display: block;
        font-size: 1.5em;
        font-weight: 700;
        margin: 10px 0;
        padding: 11px 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: #6a813b;
        }
    }
}