.modal {
	background-color: var(--darkGray);
	border: 1px solid var(--lightGray);
	box-shadow: 1px 1px 1px var(--darkGray);
	box-sizing: border-box;
	color: white;
	left: 15%;
	line-height: 1.8rem;
	opacity: 0;
	padding: 16px;
	position: fixed;
	top: 30%;
	transform: translateY(100vh);
	transition: all 0.3s ease-out;
	width: 70%;
	z-index: 5;

	&.show {
		opacity: 1;
		transform: translateY(0);
	}

	@media (min-width: 600px) {
		width: 500px;
		left: calc(50% - 250px);
	}
}
