.control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;

	button {
		display: block;
		font: inherit;
		padding: 5px;
		margin: 0 5px;
		width: 40px;
		border: 1px solid var(--lightGray);
		cursor: pointer;
		outline: none;

		&:disabled {
			background-color: var(--lightGray);
			border: 1px solid var(--gray);
			color: white;
			cursor: default;
		}

		&:hover:disabled {
			background-color: var(--lightGray);
			color: white;
			cursor: not-allowed;
		}

		.less,
		.more {
			background-color: var(--darkGray);
			color: white;

			&:hover,
			&:active {
				background: var(--gray);
			}
		}
	}

	.label {
		padding: 10px;
		font-weight: 700;
		text-align: center;
		width: 120px;
	}

	span {
		background-size: contain;
		display: block;
		height: 30px;
		margin-left: 20px;
		width: 30px;
	}
}
