.salad {
	width: 100%;
	margin: auto;
	height: 250px;
	overflow: auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;

	.bowl {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid white;
		border-radius: 0 0 50px 50px;
		border-top: 0;
		height: 170px;
		margin: auto;
		position: relative;
		top: 100px;
		width: 350px;

		.emptyBowl {
			line-height: 150px;
		}
	}
}

// Landscape
@media (max-width: 499px) {
	.salad .bowl {
		width: 90%;
		top: 50px;
	}
}
@media (min-width: 500px) and (max-height: 400px) {
	.salad {
		width: 350px;
		height: 300px;
	}
}

// Portrate
@media (min-width: 500px) and (min-height: 401px) {
	.salad {
		width: 450px;
		height: 400px;
	}
}

// Desktop
@media (min-width: 1000px) and (min-height: 700px) {
	.salad {
		width: 700px;
		height: 600px;
	}
}
