

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
    font-family: 'Heebo', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
