:root {
	--defaultFont: white;

	--mainGray: #222;
	--darkGray: #333;
	--gray: #808080;
	--lightGray: #bababa;
	// --darkreader-text--gray: #bcb7ae;
	// --darkreader-border--gray: #43494c;

	--darkBlue: #11203c;

	--red: #880101;
	--red-hover: #b40000;

	--green: #008d13;
	--green-hover: #00b418;
	--oliveGreen: #e8e6e3;

	--mainFont: 'Heebo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}
